In [25]:
import pandas as pd

df = pd.read_csv('/home/codemaster29/Documents/Coding_Stuff/FlightWise/Models/data_set/Clean_Dataset.csv')
df

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [26]:
df.airline.value_counts()

airline
Vistara      127859
Air_India     80892
Indigo        43120
GO_FIRST      23173
AirAsia       16098
SpiceJet       9011
Name: count, dtype: int64

In [27]:
df.source_city.value_counts()

source_city
Delhi        61343
Mumbai       60896
Bangalore    52061
Kolkata      46347
Hyderabad    40806
Chennai      38700
Name: count, dtype: int64

In [28]:
df.destination_city.value_counts()

destination_city
Mumbai       59097
Delhi        57360
Bangalore    51068
Kolkata      49534
Hyderabad    42726
Chennai      40368
Name: count, dtype: int64

In [29]:
df.departure_time.value_counts()

departure_time
Morning          71146
Early_Morning    66790
Evening          65102
Night            48015
Afternoon        47794
Late_Night        1306
Name: count, dtype: int64

In [30]:
df.stops.value_counts()

stops
one            250863
zero            36004
two_or_more     13286
Name: count, dtype: int64

In [31]:
df.arrival_time.value_counts()

arrival_time
Night            91538
Evening          78323
Morning          62735
Afternoon        38139
Early_Morning    15417
Late_Night       14001
Name: count, dtype: int64

In [32]:
df['class'].value_counts()

class
Economy     206666
Business     93487
Name: count, dtype: int64

In [33]:
df['duration']

0          2.17
1          2.33
2          2.17
3          2.25
4          2.33
          ...
300148    10.08
300149    10.42
300150    13.83
300151    10.00
300152    10.08
Name: duration, Length: 300153, dtype: float64

In [34]:
print('duration minumum:',df['duration'].min())
print('duration maximum:',df['duration'].max())
print('duration median:',df['duration'].median())

duration minumum: 0.83
duration maximum: 49.83
duration median: 11.25

## Processing

In [35]:
df.drop('Unnamed: 0',axis=1)
df.drop('flight',axis=1)

df['class'] = df['class'].apply(lambda x: 1 if x == 'Economy' else 0)

In [36]:
df.stops = pd.factorize(df.stops)[0]

In [37]:
df

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,0,Night,Mumbai,1,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,0,Morning,Mumbai,1,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,0,Early_Morning,Mumbai,1,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,0,Afternoon,Mumbai,1,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,0,Morning,Mumbai,1,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,1,Evening,Hyderabad,0,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,1,Night,Hyderabad,0,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,1,Night,Hyderabad,0,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,1,Evening,Hyderabad,0,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,1,Evening,Hyderabad,0,10.08,49,81585

In [47]:
df = df.join(pd.get_dummies(df.airline, prefix='airline')).drop('airline',axis=1)
df = df.join(pd.get_dummies(df.source_city,prefix='source')).drop('source_city',axis=1)
df = df.join(pd.get_dummies(df.destination_city,prefix='destination')).drop('destination_city',axis=1)
df = df.join(pd.get_dummies(df.arrival_time,prefix='arival')).drop('arrival_time',axis=1)
df = df.join(pd.get_dummies(df.departure_time,prefix='departure')).drop('departure_time',axis=1)

ValueError: columns overlap but no suffix specified: Index(['airline_AirAsia', 'airline_Air_India', 'airline_GO_FIRST',
       'airline_Indigo', 'airline_SpiceJet', 'airline_Vistara'],
      dtype='object')

In [48]:
df

,Unnamed: 0,airline,flight,stops,class,duration,days_left,price,source_Bangalore,source_Chennai,...,departure_Evening,departure_Late_Night,departure_Morning,departure_Night,airline_AirAsia,airline_Air_India,airline_GO_FIRST,airline_Indigo,airline_SpiceJet,airline_Vistara
0,0,SpiceJet,SG-8709,0,1,2.17,1,5953,False,False,...,True,False,False,False,False,False,False,False,True,False
1,1,SpiceJet,SG-8157,0,1,2.33,1,5953,False,False,...,False,False,False,False,False,False,False,False,True,False
2,2,AirAsia,I5-764,0,1,2.17,1,5956,False,False,...,False,False,False,False,True,False,False,False,False,False
3,3,Vistara,UK-995,0,1,2.25,1,5955,False,False,...,False,False,True,False,False,False,False,False,False,True
4,4,Vistara,UK-963,0,1,2.33,1,5955,False,False,...,False,False,True,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,1,0,10.08,49,69265,False,True,...,False,False,True,False,False,False,False,False,False,True
300149,300149,Vistara,UK-826,1,0,10.42,49,77105,False,True,...,False,False,False,False,False,False,False,False,False,True
300150,300150,Vistara,UK-832,1,0,13.83,49,79099,False,True,...,False,False,False,False,False,False,False,False,False,True
300151,300151,Vistara,UK-828,1,0,10.00,49,81585,False,True,...,False,False,False,False,False,False,False,False,False,True
300152,300152,Vistara,UK-822,1,0,10.08,49,81585,False,True,...,False,False,True,False,False,False,False,False,False,True

In [50]:
# Convert only boolean columns to integers (0 and 1)
bool_columns = df.select_dtypes(include='bool').columns
df[bool_columns] = df[bool_columns].astype(int)

# Verify the result
print(df.head())

   Unnamed: 0   airline   flight  stops  class  duration  days_left  price  \
0           0  SpiceJet  SG-8709      0      1      2.17          1   5953
1           1  SpiceJet  SG-8157      0      1      2.33          1   5953
2           2   AirAsia   I5-764      0      1      2.17          1   5956
3           3   Vistara   UK-995      0      1      2.25          1   5955
4           4   Vistara   UK-963      0      1      2.33          1   5955

   source_Bangalore  source_Chennai  ...  departure_Evening  \
0                 0               0  ...                  1
1                 0               0  ...                  0
2                 0               0  ...                  0
3                 0               0  ...                  0
4                 0               0  ...                  0

   departure_Late_Night  departure_Morning  departure_Night  airline_AirAsia  \
0                     0                  0                0                0
1                     0                  0                0                0
2                     0                  0                0                1
3                     0                  1                0                0
4                     0                  1                0                0

   airline_Air_India  airline_GO_FIRST  airline_Indigo  airline_SpiceJet  \
0                  0                 0               0                 1
1                  0                 0               0                 1
2                  0                 0               0                 0
3                  0                 0               0                 0
4                  0                 0               0                 0

   airline_Vistara
0                0
1                0
2                0
3                1
4                1

[5 rows x 38 columns]

In [51]:
df

,Unnamed: 0,airline,flight,stops,class,duration,days_left,price,source_Bangalore,source_Chennai,...,departure_Evening,departure_Late_Night,departure_Morning,departure_Night,airline_AirAsia,airline_Air_India,airline_GO_FIRST,airline_Indigo,airline_SpiceJet,airline_Vistara
0,0,SpiceJet,SG-8709,0,1,2.17,1,5953,0,0,...,1,0,0,0,0,0,0,0,1,0
1,1,SpiceJet,SG-8157,0,1,2.33,1,5953,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2,AirAsia,I5-764,0,1,2.17,1,5956,0,0,...,0,0,0,0,1,0,0,0,0,0
3,3,Vistara,UK-995,0,1,2.25,1,5955,0,0,...,0,0,1,0,0,0,0,0,0,1
4,4,Vistara,UK-963,0,1,2.33,1,5955,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,1,0,10.08,49,69265,0,1,...,0,0,1,0,0,0,0,0,0,1
300149,300149,Vistara,UK-826,1,0,10.42,49,77105,0,1,...,0,0,0,0,0,0,0,0,0,1
300150,300150,Vistara,UK-832,1,0,13.83,49,79099,0,1,...,0,0,0,0,0,0,0,0,0,1
300151,300151,Vistara,UK-828,1,0,10.00,49,81585,0,1,...,0,0,0,0,0,0,0,0,0,1
300152,300152,Vistara,UK-822,1,0,10.08,49,81585,0,1,...,0,0,1,0,0,0,0,0,0,1